bleach==4.0.0
build==0.6.0.post1
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
colorama==0.4.4
cryptography==3.4.7
cycler==0.10.0
docutils==0.17.1
idna==3.2
importlib-metadata==4.6.4
jeepney==0.7.1
joblib==1.0.1
keyring==23.1.0
kiwisolver==1.3.1
matplotlib==3.4.3
mkl-fft==1.3.0
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
mne==0.23.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1626264704411/work
packaging==21.0
pandas==1.3.1
pathlib==1.0.1
pebm==1.0.0
pep517==0.11.0
Pillow==8.3.1
pkginfo==1.7.1
pycparser==2.20
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
scikit-learn==0.24.2
scipy==1.7.1
SecretStorage==3.3.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
temp==2020.7.2
threadpoolctl==2.2.0
tomli==1.2.1
tqdm==4.62.1
twine==3.4.2
urllib3==1.26.6
webencodings==0.5.1
wfdb==3.4.0
zipp==3.5.0
